<style>
    .sidenav {
    height: 80%;
    width: 160px;
    position: fixed;
    z-index: 1;

    left: 0;
    background-color: #E1F7E7;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav div {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>


<div ng-controller="moviesController">
    <div class="modal" id="modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog model-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Rate the movie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">

                    <form>
                        <fieldset class="rating" id="">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label for="star5" title="Rocks!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label for="star4" title="Pretty good">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label for="star3" title="Meh">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label for="star2" title="Kinda bad">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label for="star1" title="Sucks big time">1 star</label>
                        </fieldset>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="submit" ng-click="submitRating()" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-8 container main">
        <div class="col-sm-6 panel panel-default" ng-show="show(movies.indexOf(movie))" style="background:#A9E8DC;" ng-repeat="movie in movies">
            <div class="panel-heading" style="background:#0284A8;">

                <h4 class="text-center">
                    <strong>{{movie.movieName}}</strong>
                </h4>

            </div>
            <div class="panel-default">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Duration : {{movie.duration}} minutes</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Show Timings</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2" ng-repeat="show in movie.showTime">
                    <button type="button" ng-click="showLayout(show,movie.theatreMovieId,movie.movieName)" class="btn btn-success btn-sm">{{show.substring(0,5)}}</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="img-rounded col-sm-3 {{genres[genre-1]}}" ng-repeat="genre in movie.genre" align="center" style="background:rgb(111, 111, 190);">
                    {{genres[genre-1]}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <h4>RATING : {{movie.rating|number:2}}</h4>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" data-movieId="{{movie.movieId}}">
                        Give Your Rating
                    </button>
                </div>


            </div>
            <br>
            <br>

           </div>
        </div>
    </div>
    <div class="sidenav">
        <div class="checkbox" ng-repeat="genre in genres">
            <label>
                <input type="checkbox" id="{{genres.indexOf(genre)}}" ng-click="change(this)">{{genre}}
            </label>
        </div>
    </div>
</div>