<div ng-controller="theatreController" ng-init="getLocation();getTheatres();">
    <div growl></div>

    <div class="col-sm-9 ">
        <div class="btn-group btn-group-justified">
            <div class="btn-group" ng-repeat="date in dates">
                <button type="button" ng-class="checkActive(date.getDate())" class="btn btn-primary" ng-click="setDate(date)">{{date.getDate()}}{{" - "+months[date.getMonth()]}}</button>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <button class="btn btn-danger" ng-click="sortyByDistance()">Sort By Distance</button>
    </div>
    <div class="col-sm-3">
        <br>
        <div class="list-group" id="theatres">
            <div ng-repeat="theatre in theatres" data-lat="{{theatre.latitude}}" data-long="{{theatre.longitude}}">
                <a class="list-group-item" href="#movies/{{theatre.id}}">{{theatre.name}}</a>
            </div>

        </div>
    </div>
    <div class="col-sm-8" style="top:20px;height: 100%;">
        <ng-map center="17.3850,78.4867" zoom="12">
            <marker position="{{theatre.latitude}},{{theatre.longitude}}" title="{{theatre.name}}" ng-repeat="theatre in theatres"></marker>
        </ng-map>
    </div>
</div>