.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.741211;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);}
.m2{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:120.872000px;}
._2{width:127.200000px;}
._0{width:145.608061px;}
._3{width:180.936061px;}
._1{width:270.003878px;}
._5{width:560.351878px;}
.fc1{color:rgb(192,80,77);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:56.000000px;}
.fs3{font-size:64.000000px;}
.fs5{font-size:72.000000px;}
.fs7{font-size:80.000000px;}
.fs1{font-size:112.000000px;}
.fs4{font-size:144.000000px;}
.fs0{font-size:176.000000px;}
.fs6{font-size:192.000000px;}
.fs8{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:25.996956px;}
.y2{bottom:66.316959px;}
.y4{bottom:135.286706px;}
.y15{bottom:165.841951px;}
.yd{bottom:169.548388px;}
.y1d{bottom:173.841951px;}
.yb{bottom:195.841951px;}
.y19{bottom:200.466921px;}
.y14{bottom:203.682281px;}
.y7{bottom:222.466921px;}
.y11{bottom:231.069351px;}
.yc{bottom:234.899910px;}
.y1c{bottom:239.394398px;}
.y16{bottom:239.411675px;}
.ya{bottom:261.394382px;}
.y10{bottom:268.750839px;}
.y13{bottom:275.682274px;}
.y18{bottom:285.466906px;}
.y6{bottom:307.591951px;}
.ye{bottom:308.849991px;}
.y12{bottom:308.930588px;}
.y1b{bottom:316.894398px;}
.yf{bottom:326.350838px;}
.y9{bottom:338.894398px;}
.y17{bottom:364.216906px;}
.y1a{bottom:370.299927px;}
.y5{bottom:386.341951px;}
.y8{bottom:392.424988px;}
.y1{bottom:452.465965px;}
.h3{height:40.796875px;}
.h6{height:46.593750px;}
.h4{height:46.625000px;}
.h7{height:52.453125px;}
.ha{height:58.281250px;}
.h2{height:76.179688px;}
.h8{height:81.593750px;}
.h5{height:104.835938px;}
.h1{height:119.710938px;}
.h9{height:139.781250px;}
.hb{height:174.726562px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x5{left:112.075035px;}
.x11{left:140.449997px;}
.x1{left:153.278366px;}
.xc{left:196.297558px;}
.x2{left:210.367233px;}
.xa{left:256.648460px;}
.xb{left:264.652367px;}
.x8{left:273.470726px;}
.xf{left:280.132835px;}
.xe{left:286.302757px;}
.x3{left:294.797882px;}
.x10{left:509.949982px;}
.x4{left:516.575012px;}
.xd{left:524.702473px;}
.x9{left:566.397104px;}
.x7{left:584.766983px;}
.x6{left:603.966982px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:161.162667pt;}
._2{width:169.600000pt;}
._0{width:194.144081pt;}
._3{width:241.248081pt;}
._1{width:360.005171pt;}
._5{width:747.135837pt;}
.fs2{font-size:74.666667pt;}
.fs3{font-size:85.333333pt;}
.fs5{font-size:96.000000pt;}
.fs7{font-size:106.666667pt;}
.fs1{font-size:149.333333pt;}
.fs4{font-size:192.000000pt;}
.fs0{font-size:234.666667pt;}
.fs6{font-size:256.000000pt;}
.fs8{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:34.662608pt;}
.y2{bottom:88.422613pt;}
.y4{bottom:180.382275pt;}
.y15{bottom:221.122602pt;}
.yd{bottom:226.064517pt;}
.y1d{bottom:231.789268pt;}
.yb{bottom:261.122602pt;}
.y19{bottom:267.289228pt;}
.y14{bottom:271.576375pt;}
.y7{bottom:296.622561pt;}
.y11{bottom:308.092468pt;}
.yc{bottom:313.199880pt;}
.y1c{bottom:319.192530pt;}
.y16{bottom:319.215567pt;}
.ya{bottom:348.525843pt;}
.y10{bottom:358.334452pt;}
.y13{bottom:367.576365pt;}
.y18{bottom:380.622541pt;}
.y6{bottom:410.122602pt;}
.ye{bottom:411.799988pt;}
.y12{bottom:411.907450pt;}
.y1b{bottom:422.525864pt;}
.yf{bottom:435.134450pt;}
.y9{bottom:451.859197pt;}
.y17{bottom:485.622541pt;}
.y1a{bottom:493.733236pt;}
.y5{bottom:515.122602pt;}
.y8{bottom:523.233317pt;}
.y1{bottom:603.287954pt;}
.h3{height:54.395833pt;}
.h6{height:62.125000pt;}
.h4{height:62.166667pt;}
.h7{height:69.937500pt;}
.ha{height:77.708333pt;}
.h2{height:101.572917pt;}
.h8{height:108.791667pt;}
.h5{height:139.781250pt;}
.h1{height:159.614583pt;}
.h9{height:186.375000pt;}
.hb{height:232.968750pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x5{left:149.433380pt;}
.x11{left:187.266663pt;}
.x1{left:204.371155pt;}
.xc{left:261.730077pt;}
.x2{left:280.489644pt;}
.xa{left:342.197947pt;}
.xb{left:352.869822pt;}
.x8{left:364.627635pt;}
.xf{left:373.510447pt;}
.xe{left:381.737010pt;}
.x3{left:393.063843pt;}
.x10{left:679.933309pt;}
.x4{left:688.766683pt;}
.xd{left:699.603297pt;}
.x9{left:755.196139pt;}
.x7{left:779.689311pt;}
.x6{left:805.289309pt;}
}
